<template name="usersAdministration">
  {{> headerUsersAdministration}}
  <table class="ui table" id="tableCategories">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Rol</th>
        <th>Habilitado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}
        <tr>
          <td>{{username}}</td>
          <select>
            {{#each userRole}}
              <option value="{{name}}" {{selected ../roles}}>{{name}}</option>
              <!--{{#if roleIsSelected }}
                <option selected>{{name}}</option>
              {{else}}
                <option>{{name}}</option>
              {{/if}}
              -->
              
              <!--{{#if roleIsEmpty}}
                <option{{selected foo ''}}>visitante</option>
              {{else}}
                <option{{selected foo roles}}>{{roles}}</option>
              {{/if}}-->
            {{/each}}
          </select>
          {{#if profile.enable}}
            <td><input type="checkbox" name="enable" value="enable" class="changeEnable" checked/></td>
          {{else}}
            <td><input type="checkbox" name="enable" value="enable" class="changeEnable"/></td>
          {{/if}}
          <td><a class="resetPassword" href="#">Resetear clave(NO ANDA)</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>