<template name="swimmerAdded">
    {{>menu}}
    <div class="container">
        <h3>Nadadores existentes</h3>
        <ul class="nav navbar-nav">
            <li>
                <a href="{{pathFor 'addSwimmer'}}">Agregar nadador</a>
            </li>
        </ul>
        <table class="ui table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Fecha de nacimiento</th>
                    <th>Sexo</th>
                    <th>Club</th>
                    <th>Ciudad</th>
                    <th>Obra social</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {{#each nadadores}}
                    <tr>                    
                        <td><a href="{{pathFor 'swimmerInfo'}}">{{nombre}}</a></td>
                        <td>{{apellido}}</td>
                        <td>{{dni}}</td>
                        <td>{{fechaDeNacimiento}}</td>
                        <td>{{sexo}}</td>
                        <td>{{club}}</td>
                        <td>{{ciudad}}</td>
                        <td>{{obraSocial}}</td>
                        <td>{{email}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>