<template name="swimmerInfo">
    {{>menu}}
    <div class="container">
        <h3>Información del nadador</h3>
        <a href="{{pathFor 'swimmerEdit'}}">{{nombre}}</a>
        <div class="row">
            <div class="col-md-4">
                <p>Nombre: <strong>{{nombre}}</strong></p>
                <p>Apellido: <strong>{{apellido}}</strong></p>
                <p>Dni: <strong>{{dni}}</strong></p>
                <p>Fecha de nacimiento: <strong>{{fechaDeNacimiento}}</strong></p>
                <p>E-mail: <strong>{{email}}</strong></p>
                <p>Ciudad: <strong>{{ciudad}}</strong></p>
                <p>Club: <strong>{{club}}</strong></p>        
                <p>Sexo: <strong>{{sexo}}</strong></p>
                <p>Obra social: <strong>{{obraSocial}}</strong></p>
            </div>
        </div>
    </div>
</template>