<!--DECIDÍ BLOQUEAR CON UNA SESIÓN A ESTO XQ LO CONSIDERO UN TEMA MÁS DELICADO Q AL ALTA DE SIMPLES USUARIO. ESTA OPERACIÓN DEBERÍA REALIZARSE SOLO X ALGUNOS Y QUEDAR REGISTRADO QUIEN REALIZÓ LA ÚLTIMA MODIFICACIÓN/CREACIÓN DE CADA UNA DE LAS CATEGORÍAS-->
<template name="categoryAdministration">
  {{> headerCategoryAdministration}}
  <table class="ui table" id="tableCategories">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Año inicio</th>
        <th>Año fin</th>
        <th></th>
      </tr>
    </thead>
    {{#each category}}
        {{>categoryInfo}}
    {{/each}}
  </table>
</template>