<template name="swimmerAdded">
        {{> header}}
        <table class="ui table" id="tableSwimmers">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Fecha de nacimiento</th>
                    <th>Ciudad</th>
                    <th></th>
                </tr>
            </thead>
        {{#each nadadores}}
            {{>swimmerInfo}}
        {{/each}}
      </table>
</template>
