<template name="swimmerAdded">
        <h3>Nadadores existentes</h3>
        <ul class="nav navbar-nav">
            <li>
                <a href="{{pathFor 'addSwimmer'}}">Agregar nadador</a>
            </li>
        </ul>
        <table class="ui table" id="tableSwimmers">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Fecha de nacimiento</th>
                    <th>Ciudad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each nadadores}}
                    <tr>                    
                        <td><a class="infoNadador" href="#">{{nombre}}</a></td>
                        <td>{{apellido}}</td>
                        <td>{{dni}}</td>
                        <td>{{fechaDeNacimiento}}</td>
                        <td>{{ciudad}}</td>
                        <td><a href="{{pathFor 'swimmerEdit'}}">Editar</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

</template>