<template name="menu">    
    <br/>
    <div class="ui menu">
        <a id="itemButton" class="item" onmouseover="{{changeStyle}}" href="{{pathFor 'swimmerAdded'}}">Nadadores inscriptos</a>
        <a id="itemButton" class="item" onmouseover="{{changeStyle}}" href="{{pathFor 'swimmerArrive'}}">Orden de llegada</a>
        <!--<div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>-->
    </div>
    <div class="ui segment">
        <p></p>
        <p></p>
    </div>
</template>