<template name="menu">    
    <br/>
    <div class="ui menu">
        <a id="itemButton" class="item" onmouseover="{{changeStyle}}" href="{{pathFor 'swimmerAdded'}}"><strong>Nadadores inscriptos</strong></a>
        <a id="itemButton" class="item" onmouseover="{{changeStyle}}" href="{{pathFor 'swimmerArrive'}}"><strong>Orden de llegada</strong></a>
        <a id="itemButton" class="item" onmouseover="{{changeStyle}}" href="{{pathFor 'categoryAdministration'}}"><strong>Administrar categorías</strong></a>
    </div>
    <div class="ui segment">
        <p></p>
        <p></p>
    </div>
</template>